/photos

db.sqlite3

app/migrations/*

medicserver/__pycache__

/media/*

/logs/*

app/__pycache__

.env

app/migrations/*

/app/utils/__pycache__/


medic-fef073f39284.json

/app/llmModels/__pycache__