.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px; /* Adjust size as needed */
    height: 400px; /* Adjust size as needed */
    position: relative;
    overflow: hidden;
    animation: bounce 3s infinite; /* Adjust animation duration as needed */
    border: 2px solid red;
    margin-top: 20px; 
    border-radius: 20px; 
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0); 
      animation-timing-function: ease-out; 
    }
    50% {
      transform: translateY(-15px); 
      animation-timing-function: ease-in;
    }
  }
  